* {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;

  margin: 20vh auto 10vh auto;

  height: 6rem;
  width: 60vw;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
header a {
  color: black;
  text-decoration: none;
}
.name {
  justify-self: center;
  color: #c4d8e2;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.container {
  justify-content: space-evenly;
  display: flex;
  margin: 2rem;
  height: 6rem;
  width: 60vw;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.15);
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 9999;
}
.container a,
.container h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: center;
  text-decoration: none;
  color: #c4d8e2;
  z-index: 9999;
}
.title {
  text-decoration: underline;
}
.extra {
  display: flex;
  flex-direction: row;
}
.extraContainer a {
  justify-content: space-evenly;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 2rem 5vw 2rem 5vw;
  height: 3rem;
  width: 25vw;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.15);
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #c4d8e2;
}

.contactContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  height: 6rem;
  width: 60vw;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.15);
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 9999;
}

.contactContainer a {
  text-decoration: underline;
  color: #c4d8e2;
}
.contactContainer h2 {
  color: #c4d8e2;
}
